@inject NavigationManager Navigation
@using Auth0.AspNetCore.Authentication

<AuthorizeView>
    <Authorized>
        @if (user != null)
        {
            <div class="user-info">
                <span class="user-avatar">🤔</span>
                <span class="user-name">@user.FindFirst(c => c.Type == "nickname")?.Value</span>
                <button class="logout-btn" title="Logout" @onclick="Logout">Logout</button>
            </div>
        }
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; }
    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        user = authState.User;
    }

    private void Logout()
    {
        Navigation.NavigateTo("logout", true);
    }
}