@inherits LayoutComponentBase
@inject IJSRuntime JS

<PageTitle>wl.chat</PageTitle>

<div class="chat-page">
    <aside class="sidebar" id="sidebar" @onclick="CloseSidebar">
      <div class="sidebar-header">
        <span class="site-logo">@SiteSettings.Value.SiteEmoji</span>
            <span class="site-name">@SiteSettings.Value.SiteName</span>
      </div>
      <AuthorizeView>
        <Authorized>
          <a class="new-chat-btn" href="/chat">
            <span class="emoji">➕</span> New Chat
          </a>
        </Authorized>
        <NotAuthorized>
            <a class="new-chat-btn" href="login">Login</a>
            <a class="new-chat-btn" href="signup">Sign Up</a>
        </NotAuthorized>
      </AuthorizeView>
      <NavMenu />
    </aside>
    <main class="main-chat">
        @Body
    </main>
</div>


@code {
    protected async Task CloseSidebar()
    {
        await JS.InvokeVoidAsync("toggleSidebar", false);
    }
}